<!-- About Me View
  Frederick Charles Hesse Corrêa Garcia 
  Student #: 301150756 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="bg-3 text-center">    
  <h3><%= page %></h3><br>
  
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br><img src="http://localhost:3000/img/david-bowie.jpg" alt="Logo" width="150" height="150"><br>
      <br> <p><a href="http://localhost:3000/david-bowie.pdf">Learn More about me </a>
    </div>
</div>

</body>
<% include partials/script %>
</html>