<!-- Contact View
  Frederick Charles Hesse Corrêa Garcia 
  Student #: 301150756 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="bg-3 text-left">    
  <h2><%= page %></h2><br>
    <div> 
      <p>Phone: +55 (555) 555-555</p>
      <p>Fax: +55 (555) 555-555</p>
      <p>Email: contact@me.aol.com</p>
    </div>
</div>

