<!-- Index View 
  Frederick Charles Hesse Corrêa Garcia 
  Student #: 301150756 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h2><%= page %></h2><br>
  <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h3><a href="about">ABOUT ME</a></h3>
  </div>
</div>

</body>
<% include partials/script %>
</html>