<!-- Projects View
  Frederick Charles Hesse Corrêa Garcia 
  Student #: 301150756 -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="bg-3 text-center">    
  <h2><%= page %></h2><br>
    <div class="col-sm-4">
      <h2>Project 1</h2><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br><img src="http://localhost:3000/img/project1.jpg" alt="project1" width="150" height="150"> 
    </div>
    <div class="col-sm-4">
      <h2>Project 2</h2><br> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br><img src="http://localhost:3000/img/project2.jpg" alt="project2" width="150" height="150"> 
    </div>
    <div class="col-sm-4">
      <h2>Project 3</h2><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br><img src="http://localhost:3000/img/project3.jpg" alt="project3" width="150" height="150"> 
    </div>
</div>

</body>
<% include partials/script %>
</html>