<!-- Service View 
  Frederick Charles Hesse Corrêa Garcia 
  Student #: 301150756 -->
<!DOCTYPE html>

<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="bg-3 text-center">    
  <h2><%= page %></h2><br>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>

</body>
<% include partials/script %>
</html>